<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span id="name-top" class="d-block d-lg-none">Calvin Storoschuk</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" id="calvin-resume">Resume</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#cool-stuff">Cool Stuff</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <div class="row">
                <div class="col-12">
                    <section class="resume-section" id="about">
                        <div class="resume-section-content">
                            <h1>
                                Calvin{{test}}
                                <span class="text-primary">Storoschuk</span>
                            </h1>
                            <div class="subheading mb-5">
                                Toronto ON · (416) 795 5025 ·
                                <a href="mailto:calvinsomething@gmail.com">calvinsomething@gmail.com</a>
                            </div>
                            <p class="lead">I am a self-taught programmer focused on back-end development.<br>I love collaborating, problem solving, and learning new things.</p>
                        </div>
                        <img id="headshot" class="d-none d-md-block float-right ms-5 shadow-lg p-1 bg-body" src="site/assets/img/calvin3.jpg" alt="Calvin Photo"/>
                    </section>
                </div>
            </div>
            <img id="headshot" class="d-md-none mx-5 mb-5 none-m-lg border border-5" src="site/assets/img/calvin.jpg" alt="Calvin Photo"/>
            </div>
            <hr class="m-0" />
            <!-- Projects -->
            <section class="resume-section" id="projects">
                <div class="resume-section-content">
                    <h2 class="mb-5">Projects</h2>
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <div class="card h-100">
                            <video class="vids" src="site/assets/vid/chess.mp4" autoplay loop muted></video>
                                <div class="card-body">
                                    <h5 class="card-title">Chess Web App</h5>
                                    <p class="card-text">
                                        Play multiplayer chess games and view replays of past games. Made with Django, Django-Channels, Redis, Gunicorn, Nginx, JavaScript and Docker.
                                    </p>
                                    <a href="http://ec2-3-20-185-37.us-east-2.compute.amazonaws.com/" target="_blank" class="btn btn-primary">Demo</a>
                                    <a href="https://github.com/calvinsomething/Online-Chess" target="_blank" class="btn btn-primary">Code</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="vids" src="site/assets/vid/cudoku.mp4" autoplay loop muted></video>
                                <div class="card-body">
                                    <h5 class="card-title">Sudoku Player</h5>
                                    <p class="card-text">Generates randomized puzzles with unique solutions. Gives hints or solves the puzzle. Made in C++ with wxWidget--compiled on Windows.</p>
                                    <a href="https://github.com/calvinsomething/CudokuPP" target="_blank" class="btn btn-primary">Code + Download</a>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Cool Stuff -->
            <section class="resume-section" id="cool-stuff">
                <div class="resume-section-content">
                    <div class="row">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                {{#if signedIn}}
                                    <h5 class="card-title">Signed in as: {{ user.name }}</h5>
                                    <img src={{ user.photo }}>
                                    <a href="/logout">Sign Out</a>
                                {{else}}
                                    <h5 class="card-title">Sign in with: </h5>
                                    <a href="/auth/google"><img id="google" src="/site/assets/img/google.png"></a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Contact -->
            <section class="resume-section" id="contact">
                <div class="resume-section-content">
                    <h2 class="mb-5">Contact Me</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Name:</label>
                                <input class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Message:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                            </div>
                            <a href="#" class="btn btn-primary">Send</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="site/js/scripts.js"></script>
